.blockquote {
    max-width: 22.5rem;
    text-align: center;
}

.blockquote__avatar {
    padding-top: 5.4119rem;
    margin-bottom: 1.875rem;
}

.blockquote__text {
    font-weight: 400;
    font-size: 1.42rem;
    line-height: 1.5rem;
    color: #222224;
}