.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding-top: 5.0625rem;
}

.breadcrumbs__item::after {
    content: "/";
    margin-right: 0.3125rem;
    font-weight: 300;
}

.breadcrumbs__item_active::after {
    content: none;
}

.breadcrumbs__link {
    margin-right: 0.3125rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.0625rem;
    color: #636363;
    text-decoration: none; 
}

.breadcrumbs__link_active {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.0625rem;
    color: #F16D7F;
    text-decoration: none; 
}