.container {
    padding: 0 calc(50% - 1140px / 2);
    margin-bottom: 5.5rem;
}

.copy {
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1150px) {
    .container  {
        padding: 0 5vw;
    }
}

