.filter {
   margin-bottom: 4rem;
}

.filter__list {
    display: flex;
    align-items: center;
}

.filter__item {
    display: flex;
}

.filter__item::after {
    content: icon;
    margin-right: 0.3125rem;
    font-weight: 300;  
}

.filter__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.0625rem;
    color: #6F6E6E;
    margin-right: 2.812rem;
}

.filter__link_bold {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    margin-right: 19rem;
    text-align: center;
}

.filter__icon {
    margin-left: 0.625rem;
    width: 0.6875rem;
    height: 0.4375rem;
}

.filter__icon_bold {
    width: 0.9375rem;
    height: 0.625rem;
    margin-left: 0.6875rem;
}