.offer {
    display: flex;
    flex-grow: 1;
    text-align: center;
    position: relative;
    width: 31%;
}

.offer-men {
    background: url('../image/Men-offer_pic.png') no-repeat center;
    height: 260px;
    margin-right: 30px;
    background-size: cover;
}

.offer-women {
    background: url('../image/Women-offer_pic.png') no-repeat center;
    margin-right: 30px;
    background-size: cover;
}

.offer-kids {
    margin-right: 0 auto;
    background: url('../image/Kids-offer_pic.png') no-repeat center;
    background-size: cover;
}

.offer-accesories {
    margin-top: 30px;
    height: 180px;
    background: url('../image/accesories-offer_pic.png') no-repeat center;
}

.offer__text {
    display: flex;
    flex-direction: column;
    position: absolute; 
    width: 100%;
    align-self: center;
}