.offer-card {
    display: flex;
    flex-grow: 1;
    text-align: center;
    position: relative;
    width: 31%;
}

.offer-card__title {
    display: block;
    width: 100%;
    align-self: center;
}

.offer-card__title_color_pink {
    color: #F16D7F;
    font-weight: 700;
    font-size: 1.71rem;
    line-height: 29px;
}

.offer-card__title_size_small {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.14rem;
    line-height: 19px;
}


.offer-card_men {
    background: url('../image/Men-offer_pic.png') no-repeat center;
    height: 260px;
    margin-right: 30px;
    background-size: cover;
}

.offer-card_women {
    background: url('../image/Women-offer_pic.png') no-repeat center;
    margin-right: 30px;
    background-size: cover;
}

.offer-card_kids {
    margin-right: 0 auto;
    background: url('../image/Kids-offer_pic.png') no-repeat center;
    background-size: cover;
}

.offer-card_accesories {
    margin-top: 30px;
    height: 180px;
    background: url('../image/accesories-offer_pic.png') no-repeat center;
}