/* Add a font style*/

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Lato"),
         url("../fonts/Lato-Regular.ttf") format("ttf"),
        }

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: local("Lato-Light"),
         url("../fonts/Lato-Light.ttf") format("ttf"),
        }

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Lato-Bold"),
         url("../fonts/Lato-Bold.ttf") format("ttf"),
        }

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: local("Lato-Black"),
         url("../fonts/Lato-Black.ttf") format("ttf"),
        }

/* minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}


.body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.container {
    padding: 0 calc(50% - 1140px / 2);
}

.copy {
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
    margin-bottom: 30px;
}

html {
    font-size: 14px;
}