.pagination {
    margin: auto;
    width: 288.91px;
    margin-bottom: 96px;

}

.pagination__list {
    display: flex;
    padding: 11px 16px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    height: 43px;
}

.pagination__item {
    padding-right: 17.79px;
}

.pagination__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.14rem;
    line-height: 19px;
    color: #C4C4C4;
    margin-right: 5px;
}

.pagination__link_active {
    color: #EF5B70;
}

.pagination__link_bold {
    color: #000000;
    margin-right: 17px;
}