.pagination-list {
    margin: auto;
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    width: 18.0569rem;
    height: 2.6875rem;
    margin-bottom: 6rem;   
}

.pagination-list__item_forward {
    padding: auto;
}

.pagination-list__item {
    display: block;
    margin: auto;
    padding-right: 1.1119rem;
    align-items: center;
}

.pagination-list__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.14rem;
    line-height: 1.1875rem;
    color: #C4C4C4;  
}

.pagination-list__link:hover {
    font-weight: 400;
    color:#EF5B70;
}

.pagination-list__link_active {
    color: #EF5B70;
}

.pagination-list__icon_forward  {
    fill: #000000;
    width: 0.5625rem;
    height: 0.875rem;
    margin-top: 0.3125rem;
}

.pagination-list__icon_backward {
    fill: #000000;
    margin-left: 1.1875rem;
    width: 0.5625rem;
    height: 0.875rem;
    margin-top: 0.3125rem;
}

.pagination-list__icon_forward:hover {
    fill: #EF5B70;
}

.pagination-list__icon_backward:hover {
    fill: #EF5B70;
}