.product__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.product__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.product__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__btn-all-product {
    padding-top: 33px;
    text-align: center;
    margin-bottom: 95.5px;
}