.product__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.product__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.product__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    
}
.card__img {
    margin-bottom: 25px;
}
.card__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12.65px;
    padding-left: 18px;

}

.card__subtitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    padding-left: 16.46px;
    padding-right: 28.8px;
}

.card__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
    padding-left: 18px;
}

.btn-link {
    border: 1px solid#FF6A6A;
    padding: 14.5px 38.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
}

.product__btn-all-product {
    padding-top: 33px;
    text-align: center;
    margin-bottom: 95.5px;
}