.subscribe-block {
    padding-top: 150px;
    margin-right: 97px;
}

.subscribe-block__title {
    font-weight: 700;
    font-size: 24px;
    color: #222224;
    text-align: center;
}

.subscribe-block__title--small {
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    color: #222224;
    text-align: center;
}
